# Chave da YouTube Data API v3
# 1. Crie um projeto em https://console.cloud.google.com/
# 2. Ative a "YouTube Data API v3"
# 3. Crie uma credencial do tipo API Key
YOUTUBE_API_KEY=coloque_sua_chave_aqui
